/* ---------- Configurazioni generali ---------- */


/* ---------- Configurazioni spefifiche ---------- */


/* ---------- Utility ---------- */


/* ---------- Debug ---------- */
.debug .row>* {
    border: 1px dotted red;
}

.debug .col>* {
    border: 1px dotted gray;
}

.debug .container>* {
    border: 1px dotted;
}

.debug .container,
.debug .container-fluid {
    border: 1px solid blue;
}